.Book__El {
    display: flex;
    flex-direction: column;
    background: darkgray;
    width: 50%;
}
.Books__List {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.Books__ElText {
    font-family: system-ui;
    font-size: medium;
}
.Book__add {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.Book__el {
    margin: 10px 0;
}
