.CreateAuthor__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.CreateAuthor__el {
    margin: 10px 0;
}
.Author__List {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.Author__ElText {
    font-family: system-ui;
    font-size: medium;
}
.Author__el {
    margin: 10px 0;
    width: 50%;
}